body {
    font-family: 'Lora', serif; 
    background-color: rgb(67.8%, 72.9%, 83.1%, 70%);
    padding: 25px;
    margin: 0 auto;
    max-width: 1600px;
}

header {
    background-color: rgb(67.8%, 72.9%, 83.1%, 70%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.logo-img {
    width: 100px;
}

.logo-txt {
    width: 180px;
    margin: 0 0 10px -20px;
}

main {
    margin: 25px 0;
}

footer {
    padding: 20px 0;
}

nav ul {
    display: flex;
    margin-top: 30px;
}

nav li {
    list-style: none;   
}

li a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.header-nav li {
    padding-right: 25px;
}

.footer-nav ul {
    padding-left: 0;
    justify-content: space-between;
    width: 30%;
    margin: auto; 
}

h1 {
    width: 50%;
    margin: auto;
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
}

h2 {
    font-size: 30px;
    width: 38%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-size: 23px;
}


.card-img {
    width: 100%;
}

p {
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.card {
    width: 40%;
    background-color: rgb(67.8%, 72.9%, 83.1%, 70%);
    margin: 20px;
    padding: 15px;
    box-shadow: 0 5px 15px 0 #aeacaf;
}

.card:hover {
    box-shadow: 0 5px 25px 0 #494e55;
}

footer {
    background-color: rgb(67.8%, 72.9%, 83.1%, 70%);
}

/* page produit */
.card-single {
    width: 80%;
    background-color: rgb(67.8%, 72.9%, 83.1%, 70%);
    margin: auto;
    padding: 25px;
}

/* page panier */
.form {
  text-align: center;
  padding: 20px 0 20px 0;
}

.form-control {
    width: 240px;
}

#carttitle {  
    display: flex;  
    justify-content: space-evenly;
    padding-bottom: 30px;
    text-align: center;
}

#cartinfo, table {
    margin: auto;
    font-size: 20px;
    letter-spacing: 3px;
}

td {
    width: 420px;
    text-align: end;
}


#totalprice {
    text-align: center;
    font-size: 25px;
}

.cart-empty {
    text-align: center;
}

/* page confirmation */
.center{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    li a {
        font-size: 15px;
    }
    h1 {
        width: 100%;
        margin: auto;
        font-size: 23px;
        text-align: center;
        padding-bottom: 25px;
    }
    
    h2 {
        font-size: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 15px;
    }
    .container {
        width: 100%;
    }
    .card {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .header-nav li {
        padding-right: 35px;
    }
    
    .footer-nav ul {
        padding-left: 0;
        justify-content: space-around;
        width: 100%;
        margin: auto; 
    }
    #cartinfo, table {
        margin: auto;
        font-size: 16px;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 1024px) {
    #cartinfo {
        padding: 0 25px;
    }
    li a {
        font-size: 18px;
    }
    .footer-nav ul {
        padding-left: 0;
        justify-content: space-evenly;
        width: 100%;
        margin: auto; 
    }
}